/* Regole generali */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(background.png);

}
/* Qui inizia lo stile dell'header */
.testa {
  background-image: url(sfondo.jpg);
  background-size: cover;
  max-width: 90vw;
  height: 250px;
  color: white;
  text-align: center;
  border: solid 10px white;
  position: relative;
  left: 5vw;
  top: 20px;
}

#titoli-header {
  position: relative;
  top: 75px;
  font-family: sans-serif;
  font-size: 20px;
  line-height: 50px;
}

#sottotitolo {
  font-family: serif;
}

/* Qui inizia lo stile della barra di navigazione */
nav {
  content: "";
  display: table;
  clear: both;
  background-color: rgba(0, 0, 0, 0.5);
  height: 10px;
  width: 90vw;
  margin-left: 5vw;
  background-color: rgba(0, 0, 0, 0.5);
}

.stile-link {
  position: relative;
  left: 27vw;
  padding: 30px;
  font-family: sans-serif;
}

header a {
  color: white;
  text-decoration: none;
}

.item-principale {
  display: inline-block;
  padding-right: 10px;
}

/* Tentativo di far apparire menu a tendina al passaggio del mouse */
/* .interno { *
  list-style-position: inside;
  display: none;
}

.interno:hover {
  display: block;
}
*/

/* Qui iniziano le regole del main con l'aside left */

main {
 margin: 5vw;
}

main::after {
  content: "";
  display: table;
  clear: both;
}


.left {
  float: left;
  width: 20%;
}

aside a {
  text-decoration: none;
  color: green;
  line-height: 30px;
  padding-left: 20px;
}

#left1, #left2, #left3 {
  margin-bottom: 50px;
  padding: 30px;
  background-color: white;
}

.stile-lista {
  list-style-type: none;
}

/* Qui inizia la sezione centrale */

#centro {
  float: left;
  width: 45%;
  margin: 0 2.5%;
  background-color: white;
  line-height: 30px;
  padding-bottom: 100px;
  border bottom: solid 2px;
}

img {
  width: 100%;
}

h2, .tags, p, span {
  padding-left:30px;
}

h2 {
  padding-top: 100px;
}

#primo-h2 {
  padding-top: 50px;
}

#categorie {

  background-color: lightgrey;
  padding: 30px 100px;
  margin-left: 30px;


}


/* Qui inizia la sezione di destra */
.right {
  float: left;
  width: 30%;
}

#right1 {
  background-color: white;
  padding: 30px;
  margin-bottom: 50px;

}

#barra {
  height: 30px;
  border-radius: 5%;
  width: 70%;
}

#bottone {
  height: 30px;
  width: 60px;
  background-color: brown;
  border-radius: 10%;

}

#right2 {
  background-color: white;
  }

#right2 li {
  list-style-type: none;
  display: inline-block;
  font-size: 10px;
}

#personalizza-padding{
  padding-top: 30px;
  padding-left: 20px;
}

/* Qui inizia il footer */

#padre-div-footer {
  margin-left: 5vw;
  margin-right: 5vw;
  background-color: white;
  padding-right: 50px;
  padding-bottom: 50px;
}

#padre-div-footer::after {
  content: "";
  display: table;
  clear: both;
}

footer li a {
  text-decoration: none;
  padding: 40px;
  line-height: 40px;
  color: lightgrey;
}

footer h4 {
  padding: 30px;
}
footer li {
  list-style-type: none;
}
#finale1 {
  width: 20%;
  float: left;

}

#finale2 {
  width: 20%;
  float:left;
}

#finale3 {
  width: 15%;
  float:left;
}

#finale4 {
  float:right;
  width: 26%;
  line-height: 20px;
}

.piè {
  height: 150px;
  background-color: white;
  margin: 0 5vw;
  border-top: solid 1px;
  border-color: lightgrey;

}
